<ion-header>
  <ion-navbar>
    <ion-title>Chose Location</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <agm-map latitude="51.678418" longitude="7.809007">

        </agm-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
