<ion-header>
  <ion-navbar>
    <ion-title>Add a Place</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input
          type="text"
          placeholder="Regnbue ørred..."
          name="title"
          ngModel
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Kort beskrivelse</ion-label>
        <ion-textarea
          name="description"
          ngModel
          required></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            block
            outline
            type="button"
            icon-left
            (click)="onLocate()">
            <ion-icon name="locate"></ion-icon>
            Nuværende position
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            block
            outline
            type="button"
            icon-left
            (click)="onOpenMap()">
            <ion-icon name="map"></ion-icon>
            Vælg position
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Valgt position ...</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h5>Tag et billede!</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button
            ion-button
            icon-left
            block
            outline
            type="button"
            (click)="onTakePhoto()">
            <ion-icon name="camera"></ion-icon>
            Åben Kamera
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img [src]="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button
            ion-button
            color="secondary"
            block
            type="submit"
            [disabled]="!f.valid">
            Send
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
